h2 {
  font-weight: 500;
}

.songs__list--wrapper {
  text-align: center;
  width: 100%;
  max-height: 20%;
  overflow: auto;
  box-shadow: inset 0px 0px 12px 1px #161649;
  position: absolute;
  bottom: 0;

  ul {
    list-style: none;
    font-weight: 300;
    padding: 5px 0px;
    p {
      margin: 5px auto;
    }
  }
}
.red {
  color: red;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #306bb8;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #244999;
}
::-webkit-scrollbar-track {
  background: #052953;
  border-radius: 10px;
}
