h2 {
  font-weight: 500;
}

.songs__list--wrapper {
  text-align: center;
  width: 100%;
  min-height: 20%;
  overflow: auto;
  box-shadow: inset 0px 0px 12px 1px #161649;

  ul {
    list-style: none;
    font-weight: 300;
    padding: 5px 0px;
    p {
      margin: 5px auto;
    }
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #3930b8;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #2c2499;
}
::-webkit-scrollbar-track {
  background: #050c53;
  border-radius: 10px;
}
