.player__wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  position: relative;
  border: 1px solid black;
  border-bottom: 15px solid black;

  width: 330px;
  height: 600px;
  border-radius: 15px;
  background-image: linear-gradient(
    to bottom,
    #0661e0,
    #0061c0,
    #005a97,
    #004e6e,
    #19404a
  );

  box-shadow: 0px 0px 12px 8px rgba(68, 68, 68, 0.59);

  h1 {
    font-size: 20px;
    font-weight: 300;
    margin: 10px auto;
  }
}
