.audio__controler__wrapper {
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  .btns__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 30px;

    button {
      background-color: transparent;
      border: none;
      outline: none;
      font-size: 30px;
      &:nth-child(2) {
        font-size: 50px;
      }
    }
  }
}
