.audio__controler__wrapper {
  width: 100%;
  .btns__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      border: none;
      outline: none;
      width: 60px;
      height: 60px;
      padding: 60px;
      font-size: 20px;

      &:nth-child(2) {
        font-size: 80px;
      }
    }
  }
}
